<div class="container">
    <div class="todo-list">
      <form (ngSubmit)="addTask(taskNgForm)" #taskNgForm="ngForm">
        <div class="input-group">
          <input readonly name="date" [matDatepicker]="picker" [(ngModel)]="newTaskDto.date" />
          <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
        <div class="input-group">
          <input #newTaskTitle="ngModel" required minlength="3" name="taskTitle" type="text" placeholder="Todo" [(ngModel)]="newTaskDto.title" >
          <button class="add-button">+</button>
        </div>

        <div *ngIf="newTaskTitle.invalid && (newTaskTitle.touched || newTaskTitle.dirty)">
          <div *ngIf="newTaskTitle.errors?.['required']" class="validation-error">
            Task title is required
          </div>
          <div *ngIf="newTaskTitle.errors?.['minlength']" class="validation-error">
            Task title minimum length must be 3
          </div>
        </div>

      </form>
      <table>
        <tr *ngFor="let task of tasks | async; let i = index" [class.even]="i%2==0" [class.odd]="i%2!=0">
          <td>
            <p [class.is-done]="task.isDone">
              {{task.title}}
            </p>
          </td>
          <td>
            <button (click)="removeTask(task)" class="remove-button">X</button>
            <button (click)="task.toggleDone()" class="done-button">{{task.isDone ? "Undo" : "Done"}}</button>
          </td>
        </tr>
      </table>
    </div>